.inputting{
    border:5px solid var(--secondary-color);
}
.account-settings{
    display: flex;
    flex-direction: column;
    height: 450px;
}
.artist-settings{
    display: flex;
    flex-direction: column;
    height: 470px;
    border:5px solid var(--secondary-color);
    border-radius: 15px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    margin-top: 10px;
    margin-left: 10px;
}
td{
    font-size: 18px;
    width: 220px;
    height: 50px;
    vertical-align: center;
    text-align: left;
}
input{
    background-color: var(--input-color);
    height: 25px;
}
button, .button-row{
    margin-top: 15px;
    align-self: center;
}

