.settings{
    display: flex;
    flex-direction: column;
    border:5px solid var(--secondary-color);
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.settings h1{
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 475px;
    height: 60px;
    text-align: center;
    align-self: center;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}
.account-settings{
    display: flex;
    flex-direction: column;
    height: 450px;
    /*justify-content: space-evenly;*/
}
.artist-settings{
    display: flex;
    flex-direction: column;
    height: 470px;
    border:5px solid var(--secondary-color);
    border-radius: 15px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    margin-top: 10px;
    margin-left: 10px;
}
td{
    font-size: 18px;
    width: 220px;
    height: 50px;
    vertical-align: center;
    text-align: left;
}
input{
    background-color: var(--input-color);
    height: 25px;
}
button, .button-row{
    margin-top: 15px;
    align-self: center;
}

