.artist-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.artist-row{
    display: flex;
    flex-direction: row;
}
td, .bio-artist{
    width: 200px;
}
.artist-text{
    width: 200px;
}

.last-artist-col{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
}
#reviewBtn{
    justify-self: center;
    align-self: center;
    color: var(--secondary-color);
    text-decoration: underline;
}
.art-section-title{
    font-size: 30px;
    margin: 20px 0px 0px 50px;
}
.banner{
    font-size: 33px;
    color: white;
    padding: 17px 50px;
    background-color: var(--secondary-color);
    font-weight: 100;
}
.reviews-list{
    margin: 10px 30px;
}