:root {
    --primary-color: #B1F1ED;
    --secondary-color: #793F3F;
    --background-color: #FFF;
    --input-color: rgb(196, 196, 196);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}
a{
    text-decoration: none;
    color: black;
}
button{
    outline: none;
}
.header{
    display: flex;
    flex-direction: column;
}
.title-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    height: 80px;
    margin: 0px;
    padding: 0px;
}
nav a{
    color: black;
    font-size: 20px;
}
.hidden-placeholder{
    margin: 10px;
    width: 30px;
}
.title-space{
    height: 150px;
    padding: 40px;
}
.user-icons img{
    width: 30px;
    height: auto;
    margin: 10px;
}


.horizontal-divider-line{
    width: 100%; 
    width: 100vw;
    background-color: black;
    height: 2px;
}
.recommended-art h1{
    font-size: 28px;
    margin: 20px 0px 0px 30px;
}
.art-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.art-listing{
    margin: 20px;
}
.art-listing img{
    width: 200px;
    height: 200px;
}

.color2-button{
    background-color: var(--secondary-color);
    width: 200px;
    height: 100px;
    margin: 30px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}
.color1-button{
    background-color: var(--primary-color);
    width: 150px;
    height: 55px;
    margin: 10px;
    border-radius: 15px;
    color: black;
    font-size: 20px;
}
/*a nice section*/
.inputting{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.inputting h1{
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 500px;
    height: 60px;
    text-align: center;
    align-self: center;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}
